@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
*
{
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Gudea', sans-serif;
  font-weight: normal
}
body {
  background-image: url("Assets/BackG.jpg");
}
h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 60px;
  color: #333
}
h1 a {
  font-size: 14px;
  color: #aaa;
  background: #fff;
  border-radius: 5px;
  padding: 2px 5px;
  border: 1px solid #dcdcdc;
  text-decoration: none
}
h1 a:hover {
  color: #0fe0ba;
  text-decoration: underline
}
.slider {
  width: 100%;
  max-width: 1400px;
  padding: 0 50px;
  margin: 25px auto 0;
  height: 450px;
  position: relative;
}
.slider ul, .slider ul li {
  width: 100%;
  height: 100%
}
.slider ul {
  position: relative;
  overflow: hidden;
  border-radius: 15px
}
.slider ul li {
  position: absolute;
  top: 0;
  left: -100%;
  background-size: cover; /* semon #f98686 */
  background-position: center;
  color: #fff;
  font-family: serif;
}
.slider ul li:first-of-type {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../Assets/avatar.jpg")
}
.slider ul li:nth-of-type(2) {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../Assets/movie2.jpg")
}
.slider ul li:nth-of-type(3) {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../Assets/movie3.jpg")
}
.slider ul li:nth-of-type(4) {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../Assets/movie4.webp")
}
.slider ul li:last-of-type {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../Assets/movie4.jpg")
}
.slider .controll {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 44%;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  cursor: pointer;
  color: #fff
}
.slider .controll:first-of-type {
  transform: rotate(45deg);
  left: 20px
}
.slider .controll:last-of-type {
  transform: rotate(225deg);
  right: 20px
}
.slider .controll:hover, .slider .controll.active {
  border-color: #f98686 /* rose */
}
.slider ol {
  text-align: center;
  padding-top: 10px
}
.slider ol li {
  display: inline-block;
  margin-right: 5px;
}
.slider ol .fa {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: normall
}
.slider ol li:hover .fa:before, .slider ol li.active .fa:before {
  content: "\f111"
}


.card {
  background-color: currentColor;
  margin-right: auto;
  margin-left: auto;
  width: 0px;
  height: 0px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.card h2 {
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.card .box1,
.box2,
.box3,
.box4 {
  bottom: -75px;
  width: 90%;
  height: 250px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 25px;
  display: grid;
}
.box1 {
  background-image: url("../Assets/movie7.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.box2 {
  background-image: url("../Assets/movie8.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.phuket h2 {
  font-size: 2rem;
  letter-spacing: 2px;
}
.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.txt h1 {
  font-size: 7rem;
}
.phuket p {
  opacity: 0.4;
}
.card div {
  transition: 0.5s;
}
.card div:hover {
  transition: 0.3s;
  transform: translateY(-10px);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:70%;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.phuket {
  color: rgb(0, 0, 0);
  padding: 70px;
  position: relative;
  top: 30px;
  left: -40px;
  background-repeat: no-repeat;
}